<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="author" content=Minh Do>
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content=Minh Do Professional Website>
    <title>Minh Do</title>    
    <title>Document</title>
    
    
</head>
<body>
    <header>
    <h1>Minh Do</h1>
    <nav>
        <a href="index.html">Home</a> |
        <a href="views/cv.html">CV</a> |
        <a href="views/contact.html">Contact Me</a> |
        <a href="views/fun.html">For Fun</a>
    </nav>
    </header>
    
    <div>
    <h2>Things I like to do for fun</h2>
    <ul>
        <li>Cook, bake, and eat</li>
        <li>Play classical piano and violin</li>
        <li>Take photos and vlog</li>
    </ul>
    </div>
    <footer>
        Copyright 2025, Minh Nguyen Do
    </footer>
    
    
</body>
</html>