* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #9966FF;
    opacity: 0.7;
}

.navigation {
    text-decoration: None;
    color: #9966FF;
    margin-right: 15px;
    font-size: 16px
}

.navigation:hover {
    color: #6644CC; 
    text-decoration: underline; 
}

tbody tr:nth-child(even) { 
    background-color: #f2f2f2; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 12px;
    vertical-align: top;
}

td {
    line-height: 1.5; 
}