<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content=Minh Do>
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content=Minh Do Professional Website>
    <title>Minh Do</title>    
    
    
</head>
<body>
    <header>
        <h1 id = "webname">Minh Do</h1>
    <nav>
        <a href="../index.html" class = "navigation">Home</a> |
        <a href="cv.html" class = "navigation">CV</a> |
        <a href="contact.html" class = "navigation">Contact Me</a> |
        <a href="fun.html" class = "navigation">For Fun</a>
    </nav>
    </header>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SociaCourse</td>
                <td>Led a 10-person team of software engineers, consultants, and regional managers in SF, LA, and NYC. Secured VC interest while driving client acquisition, achieving 15M+ organic social impressions and recurring monthly revenue through a research-backed CSR model.</td>
            </tr>
            <tr>
                <td>39 Pâtisserie</td>
                <td>Perfected the ever-so-delicate mille crepe cake through crepe thickness, cream texture, and 20+ recipe iterations. Organized six pop-ups across the Bay Area, overseeing wholesale food/packaging logistics. Currently leading a transition to a culture-driven afternoon tea concept.</td>
            </tr>
            <tr>
                <td>CSR Researcher</td>
                <td>Conducted corporate CSR research under Dr. Sonia Pereira (Columbia University), exploring FTC regulation’s effects on social media platform trust transitivity through subgroup analysis.</td>
            </tr>
        </tbody>
    </table>
    
    <div>
        <h1>My Resume</h1>
        <p>Click the link below to open my resume in a new tab:</p>
        <a href="static/resume.pdf" target="_blank">Open Resume</a>
    <footer>
        Copyright 2025, Minh Nguyen Do
    </footer>
    
    
</body>
</html>